diffusers==0.25.1
torch==2.0.0
torchvision==0.15.1
transformers==4.37.1
accelerate
safetensors
einops
onnxruntime-gpu
spaces==0.19.4
omegaconf
peft
huggingface-hub==0.20.2
opencv-python
insightface
gradio
controlnet_aux
gdown
peft